### 변수, 문자열

### 변수
- 정수형 (int)
- 논리형 (Boolean)
- 실수형 (float)
- 문자형 (string)

### 문자열
### 인덱싱과 슬라이싱

- 변수명과 문자열구분 ex) add , "add"
- 문자열이란 숫자가 있는 자료형

In [5]:
"apple"[0] #순번의 위치 원소 출력

'a'

In [16]:
["apple", "banana",["melon", "watermelon"]][2][1][0] 
# 뒤의 대괄호로 그 위치의 원소 출력

'w'

In [25]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[1][2][0][3]

'o'

In [28]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[0][1][1]

'r'

In [41]:
"watermelon"[5:10]

'melon'

In [44]:
"watermelon"[-5:] #뒤를 비우면 끝까지 출력

'melon'

In [48]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[1][2][1][0:5] # 앞을비우면 처음부터 뒤에 지정한 원소의 위치까지 출력

'water'

In [52]:
fruit1 = "망고"
fruit2 = "파인애플"
fruit3 = "멜론"

print(f"시장에 가면 {fruit1}이/가 있다.")

시장에 가면 망고이/가 있다.

In [57]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
print(f"There is a {fruit[0]} in the market")
# print("There is a {} in the market".format(fruit[0]))

There is a mango in the market

In [59]:
sentence = "There is a mango in the market"
sentence.count("a")

3

In [61]:
sentence.find("a")

9

In [63]:
sentence.upper() #대문자 만들기

'THERE IS A MANGO IN THE MARKET'

In [64]:
sentence.lower() # 소문자 만들기

'there is a mango in the market'

In [65]:
sentence.split()

['There', 'is', 'a', 'mango', 'in', 'the', 'market']

In [66]:
sentence.split("a") # 괄호안에 문자를 넣으면 그 문자를 기준으로 쪼갬

['There is ', ' m', 'ngo in the m', 'rket']

In [67]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace("mango", "grape")

'There is a grape in the market'

In [68]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace(fruit[0], fruit[1])

'There is a grape in the market'

In [70]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
sentence = "There is a mango in the market"

sentence.replace("mango", "") # 뒤 문자열을 비워두면 지워짐

'There is a  in the market'

In [72]:
#몫 연산
7//2

3

In [73]:
7%2

1

In [74]:
7**2

49

In [78]:
num = 7
num = num + 7
num

14

In [79]:
num += 7
num

21

In [81]:
a = "안녕"
b = "하세요"

In [83]:
a + b

'안녕하세요'

In [89]:
a * 2 + b * 3

'안녕안녕하세요하세요하세요'

In [92]:
print(7 + 7)
# print("7" + "7") -> print(int("7")+ int("7"))

14

### 다음 중 결과 값이 다른 하나는
1. 5 + 6
2. int(5) + int(6)
3. int(5 + 6)
4. int("5") + int("6")
5. int("5" + "6")
 - 답 : 5

In [94]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
len(fruit[0])

5

### 논리형

In [96]:
1 > 3

False

In [100]:
1 == 3 # == 같다르는 뜻, = 할당한다는뜻

False

### 조건문

In [ ]:
if 명제:
    명제가 참일 때 실행하는 코드
else:
    명제가 거짓일 때 실행하는 코드

In [103]:
sutja = 3
# sutja = 4
# sutja = 5

if sutja%2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

홀수입니다.

In [104]:
# in = 왼쪽에 있는 친구가 오른쪽 안에 포함되어 있는지 묻는것
# 인덱싱이 가능한것만

In [116]:
fruit = ["mango", "grape", "apple", "banana", "melon", "watermelon"]
("mango" in fruit) and ("grape" in fruit)
# 슬라이싱으로 지칭하는것은 문자열만 가능
# and 와 or 로 지칭가능
# 괄호를 쳐서 중의적이지 않게 설정

True

In [108]:
"man" in "mango"

True

In [160]:
lyrice = """
너도 날 좋아할 줄은 몰랐어
어쩌면 좋아 너무나 좋아
꿈만 같아서 나
내 자신을 자꾸 꼬집어 봐 너무나 좋아
니가 날 혹시 안 좋아할까봐
혼자 얼마나 애 태운지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
어쩜 내 가슴이 이렇게 뛰니
가슴이 정말 터질 것 같아
니가 날 볼 때면
전기에 감전된 사람처럼 전기가 올라
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니 어머나
다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
Slave to the moon, slave to the moon (I know you got)
Slave to the moon, slave to the moon (I know you)
Tell me tell me tell me you
Want me want me want me, too
Tell me tell me tell me you
Love me too, love me too
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
Tell me tell me
Tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
Tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
Tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요
Tell me tell me
Tell tell tell tell tell tell me
Tell tell tell tell tell tell me
Tell me (tell me)"""

In [150]:
if "tell me" in lyrice:
    print("제목이 가사에 포함되어 있습니다")
else:
    print("제목이 가사에 포함되어 있지 않습니다")

제목이 가사에 포함되어 있습니다

In [161]:
lyrice = lyrice.replace("\n", " ")
lyrice

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 Tell me tell me Tell tell tell tell tell tell me 나를 사랑한다고 날 기다려 왔다고 Tell me tell me Tell tell tell tell tell tell me 내가 필요하다 말해, 말해줘요 Tell me tell me Tell tell tell tell tell tell me 자꾸만 듣고 싶어 계속 내게 말해줘 Tell me tell me Tell tell tell tell tell tell me 꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐 Tell me tell me Tell tell tell tell tell tell me 나를 사랑한다고 날 기다려 왔다고 Tell me tell me Tell tell tell tell tell tell me 내가 필요하다 말해, 말해줘요 Tell me tell me Tell tell tell tell tell tell me 자꾸만 듣고 싶어 계속 내게 말해줘 Tell me tell me Tell tell tell tell tell tell me 꿈이 아니라고 말해, 말해줘요 Slave to the moon, slave to the moon (I know you got) Slave to the moon, slave to the moon (I know you) Tell me tell me tell me you Want me want me want me, too Tell me tell me tell me you Love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 Tell me tell me Tell tell tell tell tell tell me 나를 사랑한다고 날 기다려 왔다고 Tell me tell me Tell tell tell tell tell tell me 내가 필요하다 말해, 말해줘요 Tell me tell me Tell tell tell tell tell tell me 자꾸만 듣고 싶어 계속 내게 말해줘 Tell me tell me Tell tell tell tell tell tell me 꿈이 아니라고 말해, 말해줘요 Tell me tell me Tell tell tell tell tell tell me Tell tell tell tell tell tell me Tell me (tell me)'

In [158]:
# 소문자로 통일
# 문자를 지우는경우
lyrice = lyrice.lower()
lyrice = lyrice.replace("tell me", "")
lyrice

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐    tell tell tell tell tell   나를 사랑한다고 날 기다려 왔다고    tell tell tell tell tell   내가 필요하다 말해, 말해줘요    tell tell tell tell tell   자꾸만 듣고 싶어 계속 내게 말해줘    tell tell tell tell tell   꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐    tell tell tell tell tell   나를 사랑한다고 날 기다려 왔다고    tell tell tell tell tell   내가 필요하다 말해, 말해줘요    tell tell tell tell tell   자꾸만 듣고 싶어 계속 내게 말해줘    tell tell tell tell tell   꿈이 아니라고 말해, 말해줘요 slave to the moon, slave to the moon (i know you got) slave to the moon, slave to the moon (i know you)      you want me want me want me, too      you love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐    tell tell tell tell tell   나를 사랑한다고 날 기다려 왔다고    tell tell tell tell tell   내가 필요하다 말해, 말해줘요    tell tell tell tell tell   자꾸만 듣고 싶어 계속 내게 말해줘    tell tell tell tell tell   꿈이 아니라고 말해, 말해줘요    tell tell tell tell tell   tell tell tell tell tell    ( )'

In [166]:
# 가리는경우
lyrice = lyrice.lower()
lyrice = lyrice.replace("tell me", "@@@@@@@")
lyrice

' 너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해, 말해줘요 slave to the moon, slave to the moon (i know you got) slave to the moon, slave to the moon (i know you) @@@@@@@ @@@@@@@ @@@@@@@ you want me want me want me, too @@@@@@@ @@@@@@@ @@@@@@@ you love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ tell tell tell tell tell @@@@@@@ @@@@@@@ (@@@@@@@)'

In [168]:
lyrice = lyrice.replace("  ", " ")

In [170]:
lyrice[1:-1]

'너도 날 좋아할 줄은 몰랐어 어쩌면 좋아 너무나 좋아 꿈만 같아서 나 내 자신을 자꾸 꼬집어 봐 너무나 좋아 니가 날 혹시 안 좋아할까봐 혼자 얼마나 애 태운지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해, 말해줘요 어쩜 내 가슴이 이렇게 뛰니 가슴이 정말 터질 것 같아 니가 날 볼 때면 전기에 감전된 사람처럼 전기가 올라 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나 다시 한 번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해, 말해줘요 slave to the moon, slave to the moon (i know you got) slave to the moon, slave to the moon (i know you) @@@@@@@ @@@@@@@ @@@@@@@ you want me want me want me, too @@@@@@@ @@@@@@@ @@@@@@@ you love me too, love me too 얼마나 오래 기다린지 몰라 얼마나 오래 꿈 꿨는지 몰라 그런데 니가 날 사랑한다니 어머나, 다시 한 번 말해봐 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 나를 사랑한다고 날 기다려 왔다고 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 내가 필요하다 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 자꾸만 듣고 싶어 계속 내게 말해줘 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ 꿈이 아니라고 말해, 말해줘요 @@@@@@@ @@@@@@@ tell tell tell tell tell @@@@@@@ tell tell tell tell tell @@@@@@@ @@@@@@@ (@@@@@@@'

### 리스트, 튜플

#### 데이터 추가
1. 문자열 : 덧셈 연산
2. 리스트 : append(맨뒤에 추가), insert(원하는 위치에 원하는 원소 추가)

In [172]:
menu = "짜장면, 짬뽕, 탕수육"
menu = menu + ", 군만두"
menu

'짜장면, 짬뽕, 탕수육, 군만두'

In [173]:
menu = ["짜장면", "짬뽕", "탕수육"]
menu.append("군만두")
menu

['짜장면', '짬뽕', '탕수육', '군만두']

In [179]:
menu.insert(1, "팔보채")
menu

['짜장면', '팔보채', '짬뽕', '탕수육', '군만두']

#### 데이터 제거
1. 문자열 : replace
2. 리스트. del(특정위치 원소제거), remove(원소 지정 제거), pop(맨뒤 원소 제거)

In [180]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace(", 군만두", "")
menu

'짜장면, 짬뽕, 탕수육'

In [181]:
menu = ["짜장면", "팔보채", "짬뽕", "탕수육", "군만두"]
del menu[4] # 인덱싱으로 지움
menu

['짜장면', '팔보채', '짬뽕', '탕수육']

In [182]:
menu.remove("팔보채")
menu

['짜장면', '짬뽕', '탕수육']

In [183]:
menu.pop()
menu

['짜장면', '짬뽕']

#### 데이터 교체
1. 문자열 : replace
2. 리스트 : 딱히 함수 없음

In [184]:
menu = "짜장면, 짬뽕, 탕수육, 군만두"
menu = menu.replace("군만두", "팔보채")
menu

'짜장면, 짬뽕, 탕수육, 팔보채'

In [185]:
menu = ["짜장면", "팔보채", "짬뽕", "탕수육", "군만두"]
menu[1] = "유산슬"
menu

['짜장면', '유산슬', '짬뽕', '탕수육', '군만두']

In [186]:
fruit = [["mango", "grape"], ["apple", "banana", ["melon", "watermelon"]]]
fruit[1][0] = "fineapple"
fruit

[['mango', 'grape'], ['fineapple', 'banana', ['melon', 'watermelon']]]

### 반복문

In [ ]:
while 명제:
    명제가 참인 한 실행되는 코드

In [ ]:
while 1 < 3:
    print("코드 실행 중") 
    # 컴퓨터가 살아 있는 한 무한 반복, 별도의 조치를 취하지 않으면 무한 반복

#### 무한루프를 피하는 방법
1. 특정 조건에서 while문에 걸려 있는 명제가 거짓이 되도록 설계한다.
2. break를 사용한다.

In [187]:
n = 0
while n < 3:
    print(n)
    n = n + 1

0
1
2

In [188]:
n = 0
while True: # True 확정
    print(n)
    n = n + 1
    if n >= 3:
        break
    else:
        pass

0
1
2

#### 1000이 넘는 최초의 43의 배수를 찾고 싶습니다.

In [190]:
num = 0
while True:
    num = num + 43
    if num >= 1000:
        break
    else:
        pass
print(num)

1032

In [196]:
num1 = 1
while True:
    num = 43*num1
    num1 = num1 + 1
    if num >= 1000:
        break
print(num)

1032

In [197]:
n = 1000
while n%43 != 0:
    n = n + 1
print(n)

1032

In [199]:
n = 0
while n * 43 < 1000:
    n = n + 1
print(n * 43)

1032

In [201]:
n = 1000
while True:
    n = n + 1
    if n%43 == 0:
        print(n)
        break
    else:
        pass

1032

In [202]:
n = 0
while True:
    n = n + 1
    if n * 43 >= 1000:
        print(43*n)
        break
    else:
        pass

1032

### 10,000이 넘는 수 중에서, 가장 작은 43과 67의 최소공배수를 구해주세요

In [1]:
num = 1
while True:
    num1 = 43*67*num
    num = num + 1
    if num1 >= 10000:
        break
# print(num)
print(num1)

11524

In [213]:
n = 10000
while (n % 43 != 0) or (n % 67 != 0):
    n = n + 1
print(n)

11524

In [215]:
n = 10000
while True:
    n = n + 1
    if (n%43 == 0) and (n%67 == 0):
        print(n)
        break
    else:
        pass

11524

#### for문

In [ ]:
for 변수 in 순서가 있는 자료형:
    코드

In [216]:
for i in [1, 2, 3, 4]:
    print(i**2)

1
4
9
16

### 구구단 3단

In [226]:
for i in [1,2,3,4,5,6,7,8,9]:
    print("3 x {} = {}".format(i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [229]:
n = 0
while n < 9:
    print("Hello Python")
    n = n + 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [232]:
for i in range(9):
    print("Hello Python")

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [233]:
list(range(1, 9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [235]:
n = 0
a = [1, 2, 3, 4, 5, 6, 7]
b = [2, 4, 3, 6, 5, 3, 7]

total = 0
for num in range (0, len(a)):
    if a[num] == b[num]:
        total += 1
print(total)

3

In [239]:
n = 0
a = ["가", "나", "다", "라", "마", "바", "사"]
b = ["나", "라", "다", "바", "마", "나", "나"]

for w. i in enumerate(a):
    if i == b[w]:
        n = n + 1
    else:
        pass
n

AttributeError: 'int' object has no attribute 'i'

### 구구단 뽑기
- 1 x 1 = 1
- 1 x 2 = 2
- ...
- 9 x 8 = 72
- 9 x 9 = 81

In [250]:
for a in range(1, 10):
    print(f"{a}단 시작!")
    for b in range(1, 10):
        c = a * b
        print(f"{a} x {b} = {c}")

1단 시작!
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2단 시작!
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단 시작!
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단 시작!
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단 시작!
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단 시작!
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단 시작!
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단 시작!
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단 시작!
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [251]:
for i in range(10):
    print(1/(7-i))

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0

ZeroDivisionError: division by zero

In [ ]:
try:
    에러가 날 수도 있는 코드가 에러가 나지 않을 경우에 실행될 코드
except:
    에러가 날 수도 있는 코드가 에러가 났을 때 실행될 코드

In [252]:
for i in range(10):
    try:
        print(1/(7-i))
    except:
        print("에러가 났습니다.")

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
에러가 났습니다.
-1.0
-0.5

In [258]:
a = int(input("3의 배수를 입력하세요: "))
if a%3 != 0:
    raise Exception("Value Error.")
else:
    print(a)

3의 배수를 입력하세요: 2

Exception: Value Error.

In [265]:
a = range(10)[12] # 인덱싱이 range 수를 넘어서 에러

IndexError: range object index out of range

In [267]:
a = range(10 # EOF오류 : 괄호를 안닫았을때 end of file

SyntaxError: unexpected EOF while parsing (3805072903.py, line 1)

In [272]:
range(10)[12]

IndexError: range object index out of range

- 10보다 작은 자연수 중에서 3 또는 5의 배수는 3, 5, 6, 9 이고, 이것을 모두 더하면 23입니다.

- 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면 얼마일까요?

In [276]:
a = 0
b = 0
for i in range(1,101):
    a += i**2
    b += i
print(b**2-a)

25164150

### 딕셔너리

In [292]:
gg = {"사과" : 800, "바나나" : 1000, "포도" : 8000}
gg["사과"]

800

In [278]:
gg["파인애플"] = 1200
gg

{'사과': 800, '바나나': 1000, '포도': 8000, '파인애플': 1200}

In [280]:
del gg["파인애플"]
gg

{'사과': 800, '바나나': 1000, '포도': 8000}

In [281]:
for i in gg:
    print(i)

사과
바나나
포도

In [282]:
gg.keys()

dict_keys(['사과', '바나나', '포도'])

In [285]:
gg.values()

dict_values([800, 1000, 8000])

### 물가가 10% 올랐습니다.
- gg 딕셔러니의 각 과일의 가격을 10% 올려주세요

In [286]:
gg

{'사과': 800, '바나나': 1000, '포도': 8000}

In [293]:
for i in gg:
    gg[i]= int(gg[i] * 1.1)
gg

{'사과': 880, '바나나': 1100, '포도': 8800}

In [289]:
a = {"사과" : 800, "바나나" : 1000, "포도" : 8000}
for i in a:
    a[i] += int(a[i]*0.1)
print(a)

{'사과': 880, '바나나': 1100, '포도': 8800}

### 전국 사과 가격의 평균을 구해주세요.

In [304]:
ggg = {"서울점" : {"사과" : 800, "바나나" : 1000, "포도" : 800},
       "부산점" : {"사과" : 700, "바나나" : 900, "포도" : 900},
       "용산점" : {"사과" : 750, "바나나" : 800, "포도" : 1000}}

In [298]:
apple = 0
for i in ggg:
    apple = apple + ggg[i]["사과"]
ggg["평균가격"] = {"사과" : apple/len(ggg)}
ggg

{'서울점': {'사과': 800, '바나나': 1000, '포도': 800},
 '부산점': {'사과': 700, '바나나': 900, '포도': 900},
 '용산점': {'사과': 750, '바나나': 800, '포도': 1000},
 '평균가격': {'사과': 750.0}}

In [306]:
n = 0
for i in ggg:
    n = n + ggg[i]["사과"]
print(n/len(ggg))

750.0

### 디파인 함수(def)

In [307]:
def add(x, y):
    return x + y

In [308]:
add(2, 3)

5

In [311]:
def x(a, b):
    return a * b

In [312]:
x(3,7)

21

- 10보다 작은 자연수 중에서 3 또는 5의 배수는 3, 5, 6, 9 이고, 이것을 모두 더하면 23입니다.

- 1000보다 작은 자연수 중에서 3 또는 5의 배수를 모두 더하면 얼마일까요?

In [313]:
a = 0
b = 0
for i in range(1,101):
    a += i
    b += i**2
print(a**2-b)

25164150

- 디파인함수로 풀기

In [314]:
def jegop(x, y):
    a = 0
    b = 0
    for i in range(x, y+1):
        a = a + i
        b = b + i**2
    return a**2 -b

In [315]:
jegop(1, 100)

25164150

In [316]:
jegop(1, 10)

2640