### 문자열

### 변수에 할당될 수 있는 자료형
- 정수형 (integer)
- 실수형 (float)
- 문자형 (string)
- 논리형 (boolean)

### 숫자

In [1]:
jeongsu = 1
type(jeongsu)

int

In [4]:
silsu = 1.2
type(silsu)

float

In [5]:
float(jeongsu)

1.0

In [6]:
1 + 1

2

In [7]:
1 - 1

0

In [8]:
2 * 3

6

In [9]:
2/3

0.6666666666666666

In [11]:
2**3

8

In [12]:
7//3

2

In [13]:
7%3

1

### 문자

In [14]:
b = 'banana'
type(b)

str

In [ ]:
b a n a n a
0 1 2 3 4 5
-6-5-4-3-2-1

In [17]:
b = "banana"
type(b)

str

In [23]:
"my name is stephany"[3:]
#[3:]뒤에 숫자를 비워두면 끝까지

'name is stephany'

In [29]:
# menu = "초밥"
menu1 = "짜장면"
menu2 = "국밥"

print("오늘 점심은 %s과 %s입니다."%(menu1, menu2))

오늘 점심은 짜장면과 국밥입니다.

In [31]:
# menu1 = "초밥"
menu2 = "짜장면"
menu3 = "국밥"

print("오늘 점심은 {0}과 {1}입니다.".format(menu1, menu2))
# print(f"오늘 점심은 {menu1}과 {menu2}입니다.")

오늘 점심은 짜장면과 짜장면입니다.

In [34]:
song = "tell me tell me tetetete tell me"

In [35]:
song.count("tell me")

3

In [33]:
song.find("tell me")

0

In [36]:
print(song.upper())
print(song.lower())
print(song.title())

TELL ME TELL ME TETETETE TELL ME
tell me tell me tetetete tell me
Tell Me Tell Me Tetetete Tell Me

In [43]:
song.split("te")

['', 'll me ', 'll me ', '', '', '', ' ', 'll me']

In [44]:
song.replace("me", "him")

'tell him tell him tetetete tell him'

In [45]:
"안녕" + "하세요"

'안녕하세요'

In [46]:
"안녕" * 3
# 문자는 더하기와 곱하기만 가능

'안녕안녕안녕'

### 논리형

In [52]:
1 <= 2
# != 다르다
# == 같다

True

In [57]:
6%3 == 0 or 6%5 == 0
# and 는 둘다 맞아야 true
# or 는 둘중 하나만 맞아도 true
# and 와 or 둘다 사용할땐 괄호()를 이용해서 사용

True


### 조건문

In [ ]:
if 명제1:
    명제가 참일 경우에 실행되는 코드
    
elif 명제2:
    명제1은 거짓이지만, 명제2는 참일 경우에 실행되는 코드
    
else:
    명제1과 명제2가 모두 거짓일 경우에 실행되는 코드
# 둘다 명제1과 명제2 둘 모두 참일경우 if 가 실행된다

In [62]:
money = 2000
if money >= 4000:
    print("택시를 타고 간다.")

elif money < 4000 and money >= 1250:
    print("버스를 타고간다.")
    
else:
    # print("걸어간다.")
    pass # 무시한다
    
print("우와 집이다!")

버스를 타고간다.
우와 집이다!

### 리스트, 튜플

In [65]:
list1 = ['a', 'b', 'c', 'd', 'e']
tuple1 = ('a', 'b', 'c', 'd', 'e')

In [67]:
# 원소 추가
list1.append('f')
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [69]:
# 특정위치에 원소 추가
list1.insert(3, 'g')
list1

['a', 'b', 'c', 'g', 'd', 'e', 'f']

In [70]:
# 특정위치 원소 제거
del list1[3]
list1

['a', 'b', 'c', 'd', 'e', 'f']

In [71]:
# 원소 지정 제거
list1.remove('f')
list1

['a', 'b', 'c', 'd', 'e']

In [72]:
# 맨뒤 원소 제거
list1.pop()
list1

['a', 'b', 'c', 'd']

In [73]:
# 특정위치 원소 교체
list1[0] = 'e'
list1

['e', 'b', 'c', 'd']

In [74]:
# 원소 배열 거꾸로 내림차순
list1.reverse()
list1

['d', 'c', 'b', 'e']

In [75]:
# 배열 정렬 오름차순
list1.sort()
list1

['b', 'c', 'd', 'e']

In [76]:
import random
random.random()

0.6468788158934244

In [77]:
random.choice(list1)

'b'

### 아이템 강화 시스템
- 플레이어로부터 아이템의 강화 등급을 입력받습니다. (0 - 10)
- 강화 성공률은 0등급일때 70%, 1등급일대 65% ... 1등급이 올라갈수록 5%의 하락합니다.
- 강화 실패 시 50%의 확률로 아이템이 파괴됩니다.
- 강화 성공 시 "강화성공", 강화 실패 시 "강화실패", 아이템 파괴 시"아이템 파괴"를 출력해 주세요.

In [100]:
item = int(input("아이템의 강화 등급을 입력해주세요: "))
prob1 = random.random()
prob2 = random.random()
if prob1 <= 0.7 - (0.05 * item):
    print("강화성공")
else:
    if prob2 <= 0.5:
        print("강화 실패")
    else:
        print("아이템 파괴")

아이템의 강화 등급을 입력해주세요: 5
강화 실패


###  반복문

In [ ]:
# 프로그램 내에서 똑같은 명령을 일정 횟수만큼 반복하여 수행하도록
# 제어하는 명령문
# 반복문의 종류는 while문, for문이 있다

In [ ]:
while 명제:
    명제가 참인 한 영원히 반복하는 코드

In [102]:
n = 0
while n < 3:
    print(1)
    n = n + 1
    # 1이 2보다 작은한 프린트 1을 무한 반복
    # 조건을 넣어 반복문을 종료

1
1
1

### while문을 사용해서 "Hello Python"을 10번 출력합니다.

In [103]:
n = 0
while n < 10:
    print("Hello Python")
    n = n + 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [105]:
while 1 < 2:
    print(1)
    break
    # if 의 페어가 else 이듯 
    # while 문의 페어는 break

1

In [ ]:
# 1부터 100까지 반복
n = 1
while n < 101:
    print(n)
    break

In [ ]:
# 1부터 100까지 반복
n = 1
while True:
    print(n)
    if n < 100:
        n = n + 1
    else:
        break

- 두개의 정수를 입력받습니다.
- 입력받은 두 정수의 합을 출력합니다.
- 두개의 정수로 0과 0을 입력받은 경우, 반복문에서 이탈합니다.

In [111]:
while True:
    num1 = int(input("첫번째 정수 입력: "))
    num2 = int(input("두번째 정수 입력: "))
    
    if num1 == 0 and num2 == 0:
        break
    else:
        print(num1 + num2)

첫번째 정수 입력: 1
두번째 정수 입력: 2
3
첫번째 정수 입력: 56
두번째 정수 입력: 3
59
첫번째 정수 입력: 0
두번째 정수 입력: 0

### 다이어트 관리 프로그램
- 목표 몸무게를 입력합니다.
- 현재 몸무게를 입력합니다.
- 매 주 감략한 몸무게를 입력한 뒤, 현재 몸무게가 목표 몸무게보다 적어지면, 프로그램을 종료합니다.
- 출력 값은 "축하합니다! __주 걸렸습니다."형태입니다.

In [113]:
weight = int(input("목표 몸무게를 입력해주세요: "))
goal = int(input("현재 몸무게를 입력해주세요: "))
n = 0

while weight > goal:
    lost_weight = int(input("감량한 몸무게를 적어주세요: "))
    n = n + 1
    weight = weight - lost_weight
    
print("축하합니다! {}주 걸렸습니다.".format(n))

목표 몸무게를 입력해주세요: 30
현재 몸무게를 입력해주세요: 20
감량한 몸무게를 적어주세요: 5
감량한 몸무게를 적어주세요: 3
감량한 몸무게를 적어주세요: 5
축하합니다! 3주 걸렸습니다.

In [116]:
r = range(10) # range(10) = 0~9 까지 이루어진 정수
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
food_list = ["초밥", "짜장면", "짬뽕"]
for i in food_list:
    print(i[0]) # + "은 맛있어!")

초
짜
짬

In [123]:
n = 0
for i in range(100):
    n = n + i + 1
print(n)

5050

### 1에서 100 사이의 숫자 중 3의 배수인 값들의 합을 구하시오.
- 정답 : 1683

In [142]:
result = 0
for i in range(1, 101):
    if i%3 == 0:
        result = result+ i
    else:
        pass
result

1683

### 1에서 100사이의 숫자 중 소수의 합을 구하시오.

In [145]:
result = 0
for i in range(2, 101):
    nmj = []
    for w in range(2, i):
        nmj.append(i%w)
    if 0 not in nmj:
        result = result + i
result

1060

### 구구단 출력
- 3단부터 19단까지 출력해주세요.
- 출력은 "2 x 2 = 4" 형식입니다.

In [159]:
for i in range(3, 20):
    for w in range(1, 20):
        result = i*w
        print(f"{i} x {w} = {result}")
    print("--------------")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
--------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
--------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
--------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
--------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
--------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
--------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
--------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
--------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
--------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
--------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247
--------------
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266
--------------
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
--------------
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304
--------------
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323
--------------
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342
--------------
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361
--------------

### 업다운 게임
- 컴퓨터는 1부터 100 사이의 임의의 자연수를 생각합니다.
- 플레이어는 1부터 100 사이의 임의의 자연수를 input으로 입력합니다.
- 컴퓨터가 생각한 수가 플레이어가 입력한 수보다 크다면 Up, 작다면 Down을 출력합니다.
- 플레이어가 입력한 수가 컴퓨터가 생각한 수와 일치하면 몇번만에 맞췄는지 출력하고 프로그램을 종료합니다.

In [164]:
import random
num = random.randint(1, 100)

n = 1
while True:
    a = int(input("숫자를 입력하세요: "))
    
    if num > a:
        print("Up")
        n = n + 1
    elif num <a:
        print("Down")
        n = n + 1
    else:
        print("축하합니다! {}번만에 정답을 맞췄습니다.".format(n))
        break

숫자를 입력하세요: 1
Up
숫자를 입력하세요: 50
Down
숫자를 입력하세요: 40
Down
숫자를 입력하세요: 30
Down
숫자를 입력하세요: 20
Up
숫자를 입력하세요: 23
축하합니다! 6번만에 정답을 맞췄습니다.

### 예외처리

In [167]:
for i in range(10):
    try:
        print(1/(7-i))
    except:
        print(0)

0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0
0
-1.0
-0.5

In [ ]:
try:
    에러가 날 수도 있는 코드
except:
    에러가 날 수도 있는 코드가 에러가 났을 때 실행할 코드

In [171]:
while True:
    try:
        a = int(input("정수를 입력하세요: "))
        print(a)
        break
    except:
        print("너 혼난다.")

정수를 입력하세요: ㅐ
너 혼난다.
정수를 입력하세요: ㅁ
너 혼난다.
정수를 입력하세요: ㅇ
너 혼난다.
정수를 입력하세요: 3
3

In [173]:
a = int(input("3의 배수를 입력하세요: "))
if a%3 != 0:
    raise Exception("3의 배수를 입력하라고요!")
else:
    print(a)

3의 배수를 입력하세요: 2

Exception: 3의 배수를 입력하라고요!

### 딕셔너리(dictionary)

In [174]:
csb = {"이름" : "홍길동", "나이" : 20, "키" : 168}

class1_4 = {"이름" : ["홍길동", "김철수", "최영희"],
            "나이" : [20, 21, 22],
            "키" : [168, 177, 204]}

In [175]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [176]:
class1_4["발 사이즈"] = [290, 275, 240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [178]:
del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '김철수', '최영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [179]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [180]:
class1_4.values()

dict_values([['홍길동', '김철수', '최영희'], [20, 21, 22], [168, 177, 204]])

In [181]:
for i in class1_4:
    print(i)

이름
나이
키

In [184]:
"홍길동" in class1_4
# key는 되지만 value는 안됨

False

### class1_4의 "이름"key에 할당된 value 들을 전부 성을 뺀 이름들로 출력하고 싶습니다.
- 홍길동 > 길동
- 김철수 > 철수
- 최영희 > 영희

In [191]:
new_name = []
for i in class1_4["이름"]:
    new_name.append(i[1:])
class1_4["이름"] = new_name
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [192]:
class1_4["이름"] = ["길동", "철수", "영희"]
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 204]}

In [195]:
jegop = [i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [196]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [198]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

- 이 때, 학생들의 평균을 저장하는 새로운 항목을 추가하고 싶다.
- scores에 학생들의 수학, 영어, 국어 평균 성적을 기록한 "성적" 정보를 추가해주세요.
- 예. 수학평균 : (99 + 55 + 67) / 3

In [206]:
math = 0
eng = 0
kor = 0
for i in scores:
    math = math + scores[i]["수학"]
    eng = eng + scores[i]["영어"]
    kor = kor + scores[i]["국어"]
    
scores["평균 점수"] = {"국어" : kor/len(scores), "영어" : eng/len(scores), "수학" : math/len(scores)}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균 점수': {'국어': 67.66666666666667,
  '영어': 56.666666666666664,
  '수학': 73.66666666666667}}

In [212]:
len(["apple", "banana", "carrot", "delmonte", "english", "finally"])

6

In [217]:
dirty = 73.3666666666
round(dirty) #반올림

73

In [214]:
import math

In [215]:
math.floor(dirty)

73

In [216]:
math.ceil(dirty)

74

In [218]:
round(dirty, 2)

73.37

In [220]:
int(1.6) # 소수점 이하 다버림

1

In [238]:
new_id =  input("아이디를 입력하세요: ")

allowed = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p' ,'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0",  "-", "_", "."]

# 1단계
new_id = new_id.lower()

# 2단계
for i in new_id:
    if i not in allowed:
        new_id = new_id.replace(i,"")
    
# 3단계
while ".." in new_id:
    new_id = new_id.replace("..", ".")
    
print(new_id)

아이디를 입력하세요: zxczxczxc...zcsz
zxczxczxc.zcsz