In [1]:
import pandas as pd
import numpy as np

In [2]:
games = pd.read_csv('games.csv',index_col='gameId', encoding = 'cp949')
games

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308904636,1503076540231,1944,9,2,1,2,2,0,2,0,...,10,2,0,4,0,55,-1,90,238,157
3215685759,1496957179355,3304,9,2,1,1,2,2,2,2,...,11,7,4,4,1,157,55,119,154,105
3322765040,1504029863961,2156,9,2,2,2,2,0,1,0,...,10,2,0,2,0,113,122,53,11,157
3256675373,1499562036246,1475,9,2,2,2,2,0,2,0,...,11,3,0,1,0,154,39,51,90,114
3317333020,1503612754059,1445,9,1,1,1,1,1,2,0,...,1,0,0,1,0,11,157,141,31,18

In [3]:
# 상위 정보를 확인하고싶을때
games.head()

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18

In [4]:
# 상위 20개의 정보를 확인하고싶을때
games.head(20)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
3287435705,1501667992132,2059,9,1,2,2,1,1,2,0,...,6,0,0,3,0,119,134,154,63,31
3314215542,1503430065724,1993,9,1,1,2,1,1,1,1,...,2,0,0,0,0,75,42,31,40,429
3329224025,1504472363684,1334,9,1,1,1,0,0,2,1,...,0,0,0,2,0,157,38,122,40,238
3318040883,1503686577549,1387,9,2,2,2,2,0,2,2,...,8,1,0,2,1,28,51,53,157,40
3327786881,1504385918871,2681,9,2,2,2,2,2,2,0,...,8,3,1,2,0,64,141,84,67,53
3325996400,1504273919929,1391,9,2,2,2,2,2,2,2,...,10,2,1,1,1,19,74,122,59,412
3284613292,1501452879926,1671,9,1,1,2,1,0,2,1,...,2,0,0,2,0,103,154,412,6,64
3321570535,1503947039120,2071,9,1,1,1,0,1,2,1,...,3,0,0,1,0,143,64,254,53,122
3323144943,1504057872709,1942,9,1,2,2,1,0,1,0,...,3,0,0,2,0,154,498,117,141,19
3329332855,1504479222082,2374,9,2,2,2,1,1,2,0,...,9,2,0,2,0,31,67,202,53,119
3322311228,1503994240897,1717,9,1,2,1,1,0,1,0,...,0,0,0,0,0,53,117,141,122,157
3316242660,1503574693354,2390,9,2,2,2,2,2,2,0,...,9,3,2,4,0,18,134,53,420,29
3330057565,1504555731094,1994,9,1,2,1,1,1,1,1,...,2,0,0,0,0,141,1,11,29,122
3318940474,1503749118008,1513,9,2,1,2,2,0,2,0,...,11,3,0,2,0,31,141,119,122,238
3320637674,1503859605802,1898,9,2,1,2,2,2,1,1,...,11,2,1,1,0,117,54,113,157,40

In [5]:
#행과 열을 알고싶을때
games.shape

(51490, 60)

In [6]:
# 칼럼명 확인
games.columns

Index(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2',
       't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2', 't1_champ3id',
       't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1', 't1_champ5_sum2',
       't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills',
       't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4',
       't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [7]:
# 칼럼의 갯수
games.columns.size

60

In [8]:
# 칼럼의 이름 확인
games.columns.values

array(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1',
       't1_champ2_sum2', 't1_champ3id', 't1_champ3_sum1',
       't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills',
       't1_baronKills', 't1_dragonKills', 't1_riftHeraldKills', 't1_ban1',
       't1_ban2', 't1_ban3', 't1_ban4', 't1_ban5', 't2_champ1id',
       't2_champ1_sum1', 't2_champ1_sum2', 't2_champ2id',
       't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id',
       't2_champ4_sum1', 't2_champ4_sum2', 't2_champ5id',
       't2_champ5_sum1', 't2_champ5_sum2', 't2_towerKills',
       't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'], dtype=object)

In [9]:
# 6번째 칼럼명 출력
games.columns.values[5:6]
games.columns[5]

'firstTower'

In [10]:
# 6번째 칼럼의 데이터 타입을 출력해주세요
games.iloc[:,5].dtype

dtype('int64')

In [11]:
# 인덱스 구성(행 이름 출력)
games.index

Int64Index([3326086514, 3229566029, 3327363504, 3326856598, 3330080762,
            3287435705, 3314215542, 3329224025, 3318040883, 3327786881,
            ...
            3323042180, 3269295840, 3320507859, 3328393516, 3316694929,
            3308904636, 3215685759, 3322765040, 3256675373, 3317333020],
           dtype='int64', name='gameId', length=51490)

In [12]:
# 6번째 칼럼의 3번째 값을 출력해주세요
games.iloc[2,5]

1

In [13]:
#csv 파일의 처음 6줄(행)을 출력해주세요
games.head(6)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
3287435705,1501667992132,2059,9,1,2,2,1,1,2,0,...,6,0,0,3,0,119,134,154,63,31

In [14]:
# 마지막 3개행만 보기
games.tail(3)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3322765040,1504029863961,2156,9,2,2,2,2,0,1,0,...,10,2,0,2,0,113,122,53,11,157
3256675373,1499562036246,1475,9,2,2,2,2,0,2,0,...,11,3,0,1,0,154,39,51,90,114
3317333020,1503612754059,1445,9,1,1,1,1,1,2,0,...,1,0,0,1,0,11,157,141,31,18

In [15]:
#수치형 변수를 가진 칼럼 출력
games.select_dtypes(exclude=object).columns

Index(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2',
       't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2', 't1_champ3id',
       't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1', 't1_champ5_sum2',
       't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills',
       't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4',
       't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [16]:
#문자형 변수를 가진 칼럼 출력
games.select_dtypes(include=object).columns

Index([], dtype='object')

In [17]:
#각 칼럼의 결측치 숫자 파악
games.isnull().sum()

creationTime          0
gameDuration          0
seasonId              0
winner                0
firstBlood            0
firstTower            0
firstInhibitor        0
firstBaron            0
firstDragon           0
firstRiftHerald       0
t1_champ1id           0
t1_champ1_sum1        0
t1_champ1_sum2        0
t1_champ2id           0
t1_champ2_sum1        0
t1_champ2_sum2        0
t1_champ3id           0
t1_champ3_sum1        0
t1_champ3_sum2        0
t1_champ4id           0
t1_champ4_sum1        0
t1_champ4_sum2        0
t1_champ5id           0
t1_champ5_sum1        0
t1_champ5_sum2        0
t1_towerKills         0
t1_inhibitorKills     0
t1_baronKills         0
t1_dragonKills        0
t1_riftHeraldKills    0
t1_ban1               0
t1_ban2               0
t1_ban3               0
t1_ban4               0
t1_ban5               0
t2_champ1id           0
t2_champ1_sum1        0
t2_champ1_sum2        0
t2_champ2id           0
t2_champ2_sum1        0
t2_champ2_sum2        0
t2_champ3id           0
t2_champ3_sum1        0
t2_champ3_sum2        0
t2_champ4id           0
t2_champ4_sum1        0
t2_champ4_sum2        0
t2_champ5id           0
t2_champ5_sum1        0
t2_champ5_sum2        0
t2_towerKills         0
t2_inhibitorKills     0
t2_baronKills         0
t2_dragonKills        0
t2_riftHeraldKills    0
t2_ban1               0
t2_ban2               0
t2_ban3               0
t2_ban4               0
t2_ban5               0
dtype: int64

In [18]:
#데이터 정보 확인
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51490 entries, 3326086514 to 3317333020
Data columns (total 60 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   creationTime        51490 non-null  int64
 1   gameDuration        51490 non-null  int64
 2   seasonId            51490 non-null  int64
 3   winner              51490 non-null  int64
 4   firstBlood          51490 non-null  int64
 5   firstTower          51490 non-null  int64
 6   firstInhibitor      51490 non-null  int64
 7   firstBaron          51490 non-null  int64
 8   firstDragon         51490 non-null  int64
 9   firstRiftHerald     51490 non-null  int64
 10  t1_champ1id         51490 non-null  int64
 11  t1_champ1_sum1      51490 non-null  int64
 12  t1_champ1_sum2      51490 non-null  int64
 13  t1_champ2id         51490 non-null  int64
 14  t1_champ2_sum1      51490 non-null  int64
 15  t1_champ2_sum2      51490 non-null  int64
 16  t1_champ3id         51490 non-null  int64
 17  t1_champ3_sum1      51490 non-null  int64
 18  t1_champ3_sum2      51490 non-null  int64
 19  t1_champ4id         51490 non-null  int64
 20  t1_champ4_sum1      51490 non-null  int64
 21  t1_champ4_sum2      51490 non-null  int64
 22  t1_champ5id         51490 non-null  int64
 23  t1_champ5_sum1      51490 non-null  int64
 24  t1_champ5_sum2      51490 non-null  int64
 25  t1_towerKills       51490 non-null  int64
 26  t1_inhibitorKills   51490 non-null  int64
 27  t1_baronKills       51490 non-null  int64
 28  t1_dragonKills      51490 non-null  int64
 29  t1_riftHeraldKills  51490 non-null  int64
 30  t1_ban1             51490 non-null  int64
 31  t1_ban2             51490 non-null  int64
 32  t1_ban3             51490 non-null  int64
 33  t1_ban4             51490 non-null  int64
 34  t1_ban5             51490 non-null  int64
 35  t2_champ1id         51490 non-null  int64
 36  t2_champ1_sum1      51490 non-null  int64
 37  t2_champ1_sum2      51490 non-null  int64
 38  t2_champ2id         51490 non-null  int64
 39  t2_champ2_sum1      51490 non-null  int64
 40  t2_champ2_sum2      51490 non-null  int64
 41  t2_champ3id         51490 non-null  int64
 42  t2_champ3_sum1      51490 non-null  int64
 43  t2_champ3_sum2      51490 non-null  int64
 44  t2_champ4id         51490 non-null  int64
 45  t2_champ4_sum1      51490 non-null  int64
 46  t2_champ4_sum2      51490 non-null  int64
 47  t2_champ5id         51490 non-null  int64
 48  t2_champ5_sum1      51490 non-null  int64
 49  t2_champ5_sum2      51490 non-null  int64
 50  t2_towerKills       51490 non-null  int64
 51  t2_inhibitorKills   51490 non-null  int64
 52  t2_baronKills       51490 non-null  int64
 53  t2_dragonKills      51490 non-null  int64
 54  t2_riftHeraldKills  51490 non-null  int64
 55  t2_ban1             51490 non-null  int64
 56  t2_ban2             51490 non-null  int64
 57  t2_ban3             51490 non-null  int64
 58  t2_ban4             51490 non-null  int64
 59  t2_ban5             51490 non-null  int64
dtypes: int64(60)
memory usage: 24.0 MB

In [19]:
#수치형 데이터
games.describe()

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,5.149000e+04,51490.000000,51490.0,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,...,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,1.502926e+12,1832.362808,9.0,1.493552,1.471295,1.450631,1.308487,0.926510,1.442804,0.731676,...,5.549466,0.985084,0.414547,1.404370,0.240105,108.216294,107.910216,108.690581,108.626044,108.066576
std,1.978026e+09,512.017696,0.0,0.499963,0.520326,0.542848,0.676097,0.841424,0.569579,0.822526,...,3.860989,1.256284,0.613768,1.224492,0.427151,102.551787,102.870710,102.592145,103.346952,102.756149
min,1.496892e+12,190.000000,9.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.502021e+12,1531.000000,9.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,38.000000,37.000000,38.000000,38.000000,38.000000
50%,1.503844e+12,1833.000000,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,6.000000,0.000000,0.000000,1.000000,0.000000,90.000000,90.000000,90.000000,90.000000,90.000000
75%,1.504352e+12,2148.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,...,9.000000,2.000000,1.000000,2.000000,0.000000,141.000000,141.000000,141.000000,141.000000,141.000000
max,1.504707e+12,4728.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,11.000000,10.000000,4.000000,6.000000,1.000000,516.000000,516.000000,516.000000,516.000000,516.000000

In [20]:
#winner 칼럼의 값을 출력해주세요
games['winner']

gameId
3326086514    1
3229566029    1
3327363504    1
3326856598    1
3330080762    1
             ..
3308904636    2
3215685759    2
3322765040    2
3256675373    2
3317333020    1
Name: winner, Length: 51490, dtype: int64

In [21]:
# winner칼럼의 유니크값 확인하기
games.winner.unique()

array([1, 2], dtype=int64)

##### 사이트에서 불러오기

In [22]:
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(Dataurl, encoding='euc-kr')
df

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [23]:
# 데이터 마지막 7개 행을 출력해주세요
df.tail(7)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9614,32062,2020-04-30,제주시,삼도2동,101118.052,11450.645,115906.729,228475.426,38.500,17.750,16.9,0.0,2.80
9615,32063,2020-04-30,서귀포시,천지동,76260.756,4319.633,67381.686,147962.076,47.316,27.474,17.4,0.0,1.70
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [24]:
#수치형 변수를 가진 칼럼을 출력해주세요
df.select_dtypes(exclude=object).columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [25]:
#범주형 변수를 가진 칼럼을 출력해주세요
print(df.select_dtypes(include=object).columns)

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [26]:
#각 컬럼의 결측치 확인
df.isnull().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [27]:
# 각 칼럼의 데이터수, 데이터 타입을 한번에 확인해주세요
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [28]:
#각 수치형 분포확인
df.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

In [29]:
#거주인구 칼럼의 정보 뽑기
df['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [30]:
#읍면동명 칼럼의 유일갑을 출력해주세요
df.읍면동명.unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

In [31]:
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(Dataurl, encoding='euc-kr')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [32]:
#quantity 칼럼 값이 3인 데이터를 추출하고, 첫 5행을 출력해주세요
df.loc[df['quantity'] == 3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

In [33]:
#인덱스 리셋
df.loc[df['quantity'] == 3].head().reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

In [34]:
# 기존 인덱스를 버지리않고 리셋
df.loc[df['quantity'] == 3].head().reset_index(drop=False)

,index,order_id,quantity,item_name,choice_description,item_price
0,409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,689,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,818,338,3,Bottled Water,NaN,$3.27
4,850,350,3,Canned Soft Drink,[Sprite],$3.75

In [35]:
# quantity, item_price 총 2개의 컬럼으로 구성된 데이터 프레임을 만들어주세요
a = df[['quantity','item_price']]
a

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [36]:
# 1. item_price의 $표시를 없애주고
# 2. float 타입으로 바꿔주세요
# 3. 그 결과를 new_price라는 컬럼에 저장해주세요
df['new_price'] = df['item_price'].str[1:].astype('float')
a = df['new_price'].head()
a

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

In [37]:
# new price 칼럼이 5이하인 값을 가지는 데이터 프레임을 추출하고,
# 그 갯수를 구해주세요
b = len(df.loc[df.new_price <= 5])
b

1652

In [38]:
# item_name이 chicken Salad Bowl인 데이터 프레임을 추출하고,
# index 값을 초기화해주세요
c = df.loc[df.item_name == 'Chicken Salad Bowl'].reset_index(drop=True)
c.head(8)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
5,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
6,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
7,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

In [39]:
# item_name이 Chicken Salad Bowl이고 new_price 값이 10 이하인 데이터프레임 추출
d = df.loc[(df.item_name == 'Chicken Salad Bowl') | (df.new_price <= 10)]
d.head(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39

In [40]:
# new_price 컬럼의 값을 오름차순으로 정리하고
# index를 초기화해주세요
e = df.sort_values('new_price').reset_index(drop=True)
e.tail(3)

,order_id,quantity,item_name,choice_description,item_price,new_price
4619,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
4620,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
4621,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

In [42]:
# df의 item_name에서 메뉴 이름에 'Chips' 가 들어가는 데이터 출력
f = df.loc[df.item_name.str.contains('Chips')]
f.head(6)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39

In [45]:
# df의 new_price 컬럼 값들의 내림차순으로 정리하고
# index를 초기화해주세요
g = df.sort_values('new_price',ascending = False).reset_index(drop=True)
g.tail(3)

      order_id  quantity    item_name choice_description item_price  new_price
4619       567         1  Canned Soda        [Coca Cola]     $1.09        1.09
4620      1014         1  Canned Soda        [Coca Cola]     $1.09        1.09
4621       591         1  Canned Soda           [Sprite]     $1.09        1.09

In [50]:
# df의 item_name 칼럼 값이 Steak Salad 또는 Bowl 인 데이터를 뽑아주세요
h = df.loc[(df.item_name=='Steak Salad') | (df.item_name=='Bowl')]
h

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69