In [10]:
import pandas as pd

In [11]:
score = pd.read_csv('score.csv',index_col='과목', encoding = 'cp949')
score

     1반  2반  3반  4반
과목
파이썬  45  44  73  39
DB   76  92  45  69
자바   47  92  45  69
크롤링  92  81  85  40
Web  11  79  47  26

In [12]:
#학급별 총계
score.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [13]:
#학급별 점수 순위
score.sum().sort_values(ascending = False)

2반    388
3반    295
1반    271
4반    243
dtype: int64