### Pandas 라이브러리

In [1]:
import pandas as pd

#### Series 생성

In [2]:
population = pd.Series([9668465,3391946,2942828,1450062])
population

0    9668465
1    3391946
2    2942828
3    1450062
dtype: int64

In [3]:
population = pd.Series([9668465,3391946,2942828,1450062],
                       index = ['서울', '부산', '인천', '광주'])
population

서울    9668465
부산    3391946
인천    2942828
광주    1450062
dtype: int64

#### Series 값 확인

In [4]:
population.values

array([9668465, 3391946, 2942828, 1450062], dtype=int64)

#### Series 인덱스 확인

In [5]:
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

#### Series 타입 확인

In [6]:
population.dtype

dtype('int64')

#### Series에 이름 지정

In [19]:
population.name = '인구'
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

#### Series 연산

In [14]:
population / 1000000

도시
서울    9.668465
부산    3.391946
인천    2.942828
광주    1.450062
Name: 인구, dtype: float64

In [15]:
population * 10

도시
서울    96684650
부산    33919460
인천    29428280
광주    14500620
Name: 인구, dtype: int64

#### Series 인덱싱

In [16]:
population[1],population['부산']

(3391946, 3391946)

In [17]:
population[3], population['광주']

(1450062, 1450062)

In [30]:
population[[0,3,1]]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

In [31]:
population[['서울','광주','부산']]

도시
서울    9668465
광주    1450062
부산    3391946
Name: 인구, dtype: int64

#### Series Bolean 인덱싱

In [32]:
population >= 2500000

도시
서울     True
부산     True
인천     True
광주    False
Name: 인구, dtype: bool

In [33]:
population[population >= 2500000]

도시
서울    9668465
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [34]:
population[population >= 3000000]

도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64

In [1]:
population[(population >= 2500000) & (population <= 5000000)]
# & : and
# | : or

NameError: name 'population' is not defined

#### Series 슬라이싱

In [46]:
population

도시
서울    9668465
부산    3391946
인천    2942828
광주    1450062
Name: 인구, dtype: int64

In [45]:
population[1:3]

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

In [48]:
population['부산':'인천']  # string은 이상, 미만 없이 그대로 사용가능

도시
부산    3391946
인천    2942828
Name: 인구, dtype: int64

#### Dictionary객체로 Series 생성

In [50]:
data = {'피카츄':9631,'꼬부기':3393,'파이리':1490,'이상해씨':2632}
pokemon = pd.Series(data)
pokemon

피카츄     9631
꼬부기     3393
파이리     1490
이상해씨    2632
dtype: int64

In [51]:
data2 = {'피카츄':9904, '꼬부기':3448,'이브이':2466,'뮤':3890}
pokemon_up = pd.Series(data2)
pokemon_up

피카츄    9904
꼬부기    3448
이브이    2466
뮤      3890
dtype: int64

#### 레벨업해서 올라간 공격력을 계산

In [52]:
attack = pokemon_up - pokemon
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

#### 비어있지 않은 데이터들만 보려면?

In [53]:
attack.notnull()

꼬부기      True
뮤       False
이브이     False
이상해씨    False
파이리     False
피카츄      True
dtype: bool

In [56]:
attack[attack.notnull()]

꼬부기     55.0
피카츄    273.0
dtype: float64

#### 비어있는 데이터들만 보려면?

In [67]:
attack.isnull()

꼬부기    False
뮤       True
이브이     True
파이리    False
피카츄    False
리자몽    False
dtype: bool

In [68]:
attack[attack.isnull()]

뮤     NaN
이브이   NaN
dtype: float64

#### 레벨업해서 올라간 공격력의 증가율(%)을 계산

In [61]:
rp =  (pokemon_up - pokemon) / pokemon * 100
rp

꼬부기     1.620984
뮤            NaN
이브이          NaN
이상해씨         NaN
파이리          NaN
피카츄     2.834597
dtype: float64

In [62]:
rp[rp.notnull()]

꼬부기    1.620984
피카츄    2.834597
dtype: float64

#### Series 데이터 갱신, 추가, 삭제

In [63]:
# 원래 데이터 출력
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
이상해씨      NaN
파이리       NaN
피카츄     273.0
dtype: float64

In [64]:
attack['파이리'] = 1616 #갱신
attack['리자몽'] = 8888 #추가
del attack['이상해씨'] #삭제

In [66]:
attack

꼬부기      55.0
뮤         NaN
이브이       NaN
파이리    1616.0
피카츄     273.0
리자몽    8888.0
dtype: float64