In [1]:
import pandas as pd

In [3]:
data = {'2020' : [9668465, 3391946, 2942828, 1450062],
        '2010' : [10312545, 3567910, 2758296, 1454636]}
df = pd.DataFrame(data)
df

      2020      2010
0  9668465  10312545
1  3391946   3567910
2  2942828   2758296
3  1450062   1454636

In [4]:
df.index = ['서울', '부산', '인천', '광주']
df

       2020      2010
서울  9668465  10312545
부산  3391946   3567910
인천  2942828   2758296
광주  1450062   1454636