In [1]:
import pandas as pd

In [2]:
# 00중학교 1학년 1반의 중간고사 평균 성적(국어, 영어, 수학, 과학, 사회) 점수를
# Series 로 생성해주세요
# 국어 : 75점 영어 : 80점 수학 : 90점 과학 : 95점 사회 : 70점

In [3]:
middle_school = pd.Series([75,80,90,95,70],
                          index = ['국어', '영어', '수학', '과학', '사회'])
middle_school

국어    75
영어    80
수학    90
과학    95
사회    70
dtype: int64

In [4]:
middle_school.name = '중간고사 성적'
middle_school.index.name = '과목'
middle_school

과목
국어    75
영어    80
수학    90
과학    95
사회    70
Name: 중간고사 성적, dtype: int64

In [5]:
print(middle_school[['국어','영어','수학']])
# print(middle_school[0:3])
# print(middle_school["국어":"수학"])

과목
국어    75
영어    80
수학    90
Name: 중간고사 성적, dtype: int64

In [6]:
# 중간고사 평균 성적이 85점 이상인 과목만 뽑아주세요
middle_school[(middle_school >= 85)]

과목
수학    90
과학    95
Name: 중간고사 성적, dtype: int64

In [7]:
# 중간고사 평균 성적이 80점 이상 90점 이하인 과목만 뽑아주세요
middle_school[(middle_school >= 80) & (middle_school <= 90)]

과목
영어    80
수학    90
Name: 중간고사 성적, dtype: int64

In [8]:
# 5개 과목의 평균점수, 합계점수, 최대값 (가장 높은 점수)를 출력해주세요
import numpy as np
print(np.mean(middle_school))
print(np.sum(middle_school))
print(middle_school.max())

82.0
410
95