 - 원하는 유튜브 채널 선택 [제목, 조회수]

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [3]:
driver.get('https://www.youtube.com/channel/UC6vdgScn2cZ6hMeMQullT2w/videos')

In [4]:
#title = driver.find_elements_by_css_selector('h3.style-scope ytd-grid-video-renderer')

In [5]:
title = driver.find_elements_by_css_selector('#video-title')

In [6]:
view = driver.find_elements_by_css_selector('#metadata-line > span:nth-child(1)')

In [7]:
len(title), len(view)

(30, 30)

### 스크롤링

In [8]:
from bs4 import BeautifulSoup as bs

In [9]:
from selenium.webdriver.common.keys import Keys

In [10]:
body = driver.find_element_by_css_selector('body')

while True:
    last = bs(driver.page_source, 'html.parser')
    for i in range(20):
        body.send_keys(Keys.END)
    new = bs(driver.page_source, 'html.parser')
    
    if last == new:
        break
    else:
        pass

In [11]:
view = driver.find_elements_by_css_selector('#metadata-line > span:nth-child(1)')
title = driver.find_elements_by_css_selector('#video-title')

In [12]:
len(view), len(title)

(242, 242)

In [13]:
view_list = []
for i in view:
    string = i.text
    string = string.replace('조회수 ', '')
    string = string.replace('회', '')
    string = string.replace('.', '')
    string = string.replace('천', '000')
    string = string.replace('만', '0000')
    string = int(string)
    view_list.append(string)

In [14]:
title_list = []
for i in title:
    title_list.append(i.text)

In [15]:
data = {'제목' : title_list, '조회수' : view_list}

In [19]:
Youtube = pd.DataFrame(data)
Youtube

                  제목     조회수
0        사람처럼 자는 고양이   85000
1                볼따구  540000
2           나고 털 빗기기  260000
3            그냥 쓰다듬기  630000
4          집 오지마자 앵김  560000
..               ...     ...
237       안경을 대하는 태도  250000
238            발가락사냥  250000
239        꼬리를 주목하세요  450000
240  나고가 작업을 방해하는 모습  580000
241   나고가 고로롱 거리는 소리  120000

[242 rows x 2 columns]

In [28]:
Youtube.sort_values(by=['조회수'], ascending=False)

     level_0  index                       제목      조회수
218      218    218       나고 씻기기 (나고 vs 사나고)  3390000
168      168    168               고양이를 쪼물대보자  3020000
164      164    164  말하는 고양이 (앙뚜와 나고 목욕하는 날)  1710000
175      175    175        새벽5시에 꾹꾹이로 깨우는 나고  1290000
95        95     95                 폴더블 솜방망이   990000
..       ...    ...                      ...      ...
193      193    193            투닥거리는 고양이 두마리    40000
11        11     11                츄르먹방 맨틀시점    40000
7          7      7                 발 맛있게 먹기    40000
235      235    235         그루밍 체험하기(이어폰 필수)    30000
181      181    181               구독자7만명달성기념    30000

[242 rows x 4 columns]

In [29]:
Youtube.reset_index(drop=True)

     level_0  index               제목     조회수
0          0      0      사람처럼 자는 고양이   85000
1          1      1              볼따구  540000
2          2      2         나고 털 빗기기  260000
3          3      3          그냥 쓰다듬기  630000
4          4      4        집 오지마자 앵김  560000
..       ...    ...              ...     ...
237      237    237       안경을 대하는 태도  250000
238      238    238            발가락사냥  250000
239      239    239        꼬리를 주목하세요  450000
240      240    240  나고가 작업을 방해하는 모습  580000
241      241    241   나고가 고로롱 거리는 소리  120000

[242 rows x 4 columns]