### 변수 설정
- 정수 (integer)
- 실수 (float)
- 문자 (string)
- 논리 (boolean)

In [3]:
num = 10
print(num)

10

In [5]:
num = 10 + 10
num

20

In [6]:
num = num + 5
num

25

In [8]:
num += 5

In [ ]:
n = n + 1
if n%100 == 0:
    print("지금 n번째 돌아가는 중")

In [10]:
string = "오늘 점심 뭐먹지?"
type(string)

str

- 문자열은 덧셈과 곱셈(정수)만 가능

In [11]:
print("오늘" + "점심" + "뭐먹지?")

오늘점심뭐먹지?

In [13]:
"점심" * 3 == "점심" + "점심" + "점심"

True

In [14]:
"점심" * 3

'점심점심점심'

- 모든 언어에는 순서가 있다
- 각 음운, 알파벳들 마다 순서가 있다
- 인덱싱이란 문자의 순서를 지칭하는것
- 0부터 시작하고 띄어쓰기도 새야한다

- "오늘 점심 뭐먹지?"
- 0 = 오 , 1 = 늘, 2 = 빈칸, 3 = 점, 4 = 심, 5 = 빈칸, 6 = 뭐, 7 = 먹, 8 = 지, 9 = ?
- -10 = 오 , -9 = 늘, -8 = 빈칸, -7 = 점, -6 = 심, -5 = 빈칸, -4 = 뭐, -3 = 먹, -2 = 지, -1 = ?
- 뒷부분을 비우면 끝까지 출력 앞부분을 지우면 처음부터 출력

In [21]:
"오늘 점심 뭐먹지?"[3]

'점'

In [18]:
"오늘 점심 뭐먹지?"[3:5]

'점심'

In [22]:
"오늘 점심 뭐먹지?"[-7 : -5]

'점심'

In [23]:
"오늘 점심 뭐먹지?"[-7 :]

'점심 뭐먹지?'

In [19]:
"apple"[3]

'l'

In [25]:
# menu = "김치볶음밥"
menu = "참치김밥"
# menu = "우동"
print("오늘 점심 메뉴는 %s입니다." %menu)

오늘 점심 메뉴는 참치김밥입니다.

In [26]:
# menu = "김치볶음밥"
menu = "참치김밥"
# menu = "우동"
print("오늘 점심 메뉴는 {}입니다." .format(menu))

오늘 점심 메뉴는 참치김밥입니다.

In [27]:
# menu = "김치볶음밥"
menu = "참치김밥"
# menu = "우동"
print(f"오늘 점심 메뉴는 {menu}입니다.")

오늘 점심 메뉴는 참치김밥입니다.

In [28]:
lyrics = "sorry sorry sorry sorry 내가 내가 내가 먼저 네게 네게 네게 빠져"

In [30]:
lyrics.count("sorry") #괄호안의 문자 count

4

In [31]:
lyrics.upper() #대문자로 변환

'SORRY SORRY SORRY SORRY 내가 내가 내가 먼저 네게 네게 네게 빠져'

In [32]:
lyrics.lower() #소문자로 변환

'sorry sorry sorry sorry 내가 내가 내가 먼저 네게 네게 네게 빠져'

In [34]:
lyrics.find("not sorry") # 해당 문자열이 있는지 확인 : 0이면 있다는뜻 -1은 없다는뜻

-1

In [44]:
lyrics.replace("내가", "너가") #문자 변환
lyrics.replace("네게", "내게")
lyrics

'sorry sorry sorry sorry 내가 내가 내가 먼저 네게 네게 네게 빠져'

In [38]:
lyrics.split()

['sorry',
 'sorry',
 'sorry',
 'sorry',
 '내가',
 '내가',
 '내가',
 '먼저',
 '네게',
 '네게',
 '네게',
 '빠져']

In [39]:
lyrics.split("가")

['sorry sorry sorry sorry 내', ' 내', ' 내', ' 먼저 네게 네게 네게 빠져']

- 파이썬에서 = 은 변수 할당
- ==를 사용하자

In [47]:
type(1 + 1 == 2)

bool

In [49]:
1 + 2 >= 2

True

In [50]:
1 + 2 != 2

True

In [53]:
not 1 + 2 != 2

False

In [54]:
a = 1 + 1 == 2

In [57]:
print(a)
type(a)
int(a) # 1은 true 0,-1은 false

True

1

In [58]:
a + a

2

- 명제 and 명제 # 두 명제가 모두 참일때만 True
- 명제 or 명제 # 두 명제중 하나만 참이여도 True

In [59]:
1 + 1 == 2 and 1 + 2 == 2

False

In [60]:
1 + 1 == 2 or 1 + 2 == 2

True

### 조건문

- if 명제 :
    명제가 참일 경우에 실행되는 코드
- elif 명제2 :
    명제 1은 거짓이지만, 명제2가 참일경우에 실행되는 코드
- else :
    명제1과 명제2가 모두 거짓일 경우에 실행되는 코드
- 드려쓰기 중요

In [64]:
money = 200
if money >= 1250:
    print("버스를 타고간다.")
else:
    print("걸어서 간다.")

걸어서 간다.

In [72]:
money = 6000
if money >= 1250:
    print("버스를 타고간다.")
elif money >= 5000:
    print("택시를 타고간다.")
else:
    print("걸어서 간다.")

버스를 타고간다.

In [82]:
money = 4900
if money >= 5000:
    print("택시를 타고간다.")
elif (money >= 1250 and money < 5000) :
    print("버스를 타고간다.")
else:
    print("걸어서 간다.")

버스를 타고간다.

In [83]:
threshold_taxi = 5000
threshold_bus = 1250

money = 2000
if money >= threshold_taxi:
    print("택시를 타고간다.")
elif (money >= threshold_bus and money < threshold_taxi):
    print("버스를 타고간다.")
else:
    print("걸어서 간다.")

버스를 타고간다.

In [ ]:
((나 == 주먹) and (상대 == 가위)) or ((나 == 가위) and (상대 == 보자기)) or ((나 == 보자기) and (상대 == 주먹))

### 리스트, 튜플

In [84]:
a = [1,2]
b = ("가", "나")

In [85]:
print(a)
print(b)

[1, 2]
('가', '나')

In [86]:
c = [1, 2, a]
print(c)

[1, 2, [1, 2]]

#### 리스트는 조작할수 있지만, 튜플은 조작할 수 없다.
- 조작 : 원소를 추가하거나, 없애거나, 교체하거나, 순서를 바꾸는 행위

### 원소 추가
- 리스트

In [87]:
"짜장" + "면"

'짜장면'

In [90]:
"짜장면"[2]

'면'

In [93]:
a[2]

'면'

In [100]:
b = [1, 2, [3, 4],5]
b[2][1]

4

In [89]:
a = ["짜", "장"]
a.append("면") #맨 뒤에 추가
a

['짜', '장', '면']

In [106]:
a.insert(0,"간") #원하는 자리에 추가
a

['간', '짜', '장', '면']

In [107]:
del a[0]
a

['짜', '장', '면']

In [108]:
a.remove("면")
a

['짜', '장']

In [110]:
a[1] = "왕"
a

['짜', '왕']

In [113]:
m = "간짜장면"
m.replace("간","")

'짜장면'

In [114]:
m = "짜장"
m.replace("장", "왕")

'짜왕'

In [115]:
k = ["가", "나", "다", "라", "마", "다"]
k.reverse() #순서 변경
k

['다', '마', '라', '다', '나', '가']

In [117]:
k.sort() #오름차순
k.reverse() #이렇게 되면 내림차순으로 바뀜
k

['마', '라', '다', '다', '나', '가']

In [118]:
k.sort(reverse = True) #내림차순
k

['마', '라', '다', '다', '나', '가']

In [119]:
#len # 길이를 나타내는 줄임말 length
len("짜장면은 맛있다.")

9

In [120]:
len(k) #len 으로 인덱스의 수를 샘

6

In [121]:
fruit = ["사과", "바나나", "키위", "망고", "파인애플"]

In [123]:
len(fruit[4])

4

In [ ]:
"사과" in fruit # True
"배" in fruit #False
"사과" in "사과는 맛있어" #True

In [ ]:
['사과', '바나나'] in fruit #False
("사과" in fruit) and ("바나나" in fruit) #True
'사과' not in fruit #False

### 반복문

In [ ]:
while 명제:
    명제가 참인 한 실행되는 코드
# 조건, break 를 넣어 무한루프에 빠지지 않게 하기

In [132]:
n = 1
while n < 3:
    print(n)
    n = n + 1

1
2

In [ ]:
n = 1
while True:
    print(1)
    n = n + 1
    if n == 100:
        break
    else :
        pass
# 1을 100번 출력후 break

In [ ]:
for 변수 in 인덱싱이 가능한 자료형:
    코드

In [136]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [137]:
for i in ("가", "나", "다", "라", "마"):
    print(i)

가
나
다
라
마

In [142]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
for num in range(1,10):
    print('3 x {} = {}'.format(num, 3*num))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [146]:
for i in range(1, 10):
    for w in range(1, 10):
        print('{} x {} = {}'.format(i, w, i*w))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 너무 중요한 반복문
- 10,000 보다 큰 57과 83의 공배수 중 가장 작은 수를 출력해주세요
- 공배수 : 57 과 83을 모두 약수로 가지는 수

In [153]:
a = 1
b = 1
while b < 10000:
    b = a * 57 * 83
    a += 1
print(b)

14193

In [164]:
n = 10000
while not((n % 57 == 0) and (n % 83 == 0)):
    n = n + 1
print(n)

14193

In [162]:
n = 10000
while (n % 57 != 0) or (n % 83 != 0):
    n = n + 1
print(n)

14193

In [165]:
n = 10000
while True:
    if (n % 57 == 0 and n % 83 == 0):
        break
    else:
        n = n + 1
print(n)

14193

### 예외처리

In [167]:
for i in range(10):
    print(1/(i-7))

-0.14285714285714285
-0.16666666666666666
-0.2
-0.25
-0.3333333333333333
-0.5
-1.0

ZeroDivisionError: division by zero

In [ ]:
try:
    코드
except:
    코드가 에러가 날 경우 실행되는 코드

In [170]:
for i in range(10):
    try:
        print(1/(i-7))
    except: # 파이썬이 허용하지 않는 오류들을 개발자가 허용하고 싶을때
        print("삐용삐용")

-0.14285714285714285
-0.16666666666666666
-0.2
-0.25
-0.3333333333333333
-0.5
-1.0
삐용삐용
1.0
0.5

In [173]:
a = int(input("3의 배수를 입력하시오: "))
if a % 3 == 0 :
    pass
else:
    raise Exception("3의 배수가 아닙니다.")
print(a)

3의 배수를 입력하시오: 4

Exception: 3의 배수가 아닙니다.

### 딕셔너리

In [176]:
dictionary = {"A" : "가", "B" : "나", "C" : "다", "D" : "라"}

In [174]:
list = ["가", "나", "다", "라"]
list[0]

'가'

In [177]:
dictionary["A"]

'가'

In [179]:
csb = {"이름" : ["홍길동", "임꺽정", "장길산"], "나이" : [20, 35, 52], "키" : [160, 170, 180]}

In [180]:
csb ["이름"]
# select * from 이름;

['홍길동', '임꺽정', '장길산']

In [181]:
csb[0]

KeyError: 0

In [182]:
csb.keys()

dict_keys(['이름', '나이', '키'])

In [183]:
csb.values()

dict_values([['홍길동', '임꺽정', '장길산'], [20, 35, 52], [160, 170, 180]])

In [184]:
csb["성별"] = ["남", "남", "남"]

In [185]:
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 170, 180],
 '성별': ['남', '남', '남']}

In [187]:
# remove 는중복 될수있기때문에 효율이 떨어짐 del 사용 추천
# csb.remove(["남", "남", "남"]) 
del csb["성별"]
csb

{'이름': ['홍길동', '임꺽정', '장길산'], '나이': [20, 35, 52], '키': [160, 170, 180]}

In [188]:
# csb.keys() 과 같다
for i in csb:
    print(i)

이름
나이
키

In [1]:
csb = {"이름" : ["홍길동", "임꺽정", "장길산"], 
       "나이" : [20, 35, 52], 
       "키" : [160, 200, 180], 
       "발 사이즈" : [260, 290, 270]}

- for 문을 활용해서 홍길동, 임꺽정, 장길산의 나이 평균, 
키 평균, 발사이즈 평균을 구해주세요

In [8]:
list(csb.keys())[1:]

['나이', '키', '발 사이즈', '평균들']

In [2]:
averages = []
for i in list(csb.keys())[1:]:
    n = 0
    for w in csb[i]:
        n = n + w
    averages.append(n/len(csb[i]))
csb["평균들"] = averages
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 200, 180],
 '발 사이즈': [260, 290, 270],
 '평균들': [35.666666666666664, 180.0, 273.3333333333333]}

In [233]:
averages = []
for i in csb:
    try:
        n = 0
        for w in csb[i]:
            n = n + w
        averages.append(n/len(csb[i]))
    except:
        pass
csb["평균들"] = averages
csb

{'이름': ['홍길동', '임꺽정', '장길산'],
 '나이': [20, 35, 52],
 '키': [160, 200, 180],
 '발 사이즈': [260, 290, 270],
 '평균들': [35.666666666666664, 180.0, 273.3333333333333]}