In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC

### 1. 목적 - SVM을 가지고 iris 데이터를 분류해보자

### 2. 데이터 수집

In [5]:
df = load_iris()
df.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [6]:
x = df.data
y = df.target

In [7]:
x = pd.DataFrame(x, columns=df.feature_names)
y = pd.DataFrame(y, columns=['species'])

In [8]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
y

     species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

### 3. 데이터 전처리
- 스케일링
- 레이블 인코딩

In [10]:
#스케일링
transformer = MinMaxScaler()
transformer.fit(x)

MinMaxScaler()

In [11]:
x_data = transformer.transform(x)

In [13]:
# 레이블 인코딩
le = LabelEncoder()
le.fit(y)

C:\Users\82104\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LabelEncoder()

In [15]:
print(le.classes_)

[0 1 2]

In [17]:
y_data = le.transform(y)

C:\Users\82104\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
#훈련, 평가 데이터
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data,
                                                   random_state=0, stratify=y_data)

### 4.탐색적데이터분석(EDA) - 클래스별 비율, 시각화

### 5.모델선택

In [32]:
#가우시간 커널
model = SVC(kernel='rbf', C=1.0, gamma='auto')

### 6.모델학습

In [33]:
model.fit(x_train, y_train)

SVC(gamma='auto')

### 7.모델평가

In [34]:
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9464285714285714
0.9736842105263158

In [35]:
labels = ['세토사', '버시칼라', '버지니카']

#### 새로운 데이터 예측

In [36]:
new_test = [[5.3, 3.7, 1.5, 0.2]]
new_test = pd.DataFrame(new_test, 
                        columns=['sepal length','sepal width','petal length','petal width'])
new_test = transformer.transform(new_test)

C:\Users\82104\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- petal length
- petal width
- sepal length
- sepal width
Feature names seen at fit time, yet now missing:
- petal length (cm)
- petal width (cm)
- sepal length (cm)
- sepal width (cm)

  warnings.warn(message, FutureWarning)

In [37]:
y_predict = model.predict(new_test)

In [38]:
label = labels[y_predict[0]]

In [40]:
print(label)

세토사