In [1]:
import numpy as np

### BMI 구하기

#### delimiter : 구분기호

In [2]:
data = np.loadtxt("height_weight.txt",delimiter=",")
data

array([[175.2, 180.3, 175. , 169.2, 185.2, 188. , 177.6, 178.2, 177. ,
        179. ],
       [ 65.6,  88. ,  79.2,  69.3,  55. ,  71.2,  73. ,  68.9,  74. ,
         82. ]])

In [3]:
data.shape

(2, 10)

In [4]:
# 데이터를 키와 몸무게로 나누기
height_cm = data[0]
print(height_cm)

[175.2 180.3 175.  169.2 185.2 188.  177.6 178.2 177.  179. ]

In [5]:
weight_kg = data[1]
print(weight_kg)

[65.6 88.  79.2 69.3 55.  71.2 73.  68.9 74.  82. ]

In [6]:
#키를 cm가 아니라 m로 표현해보기
height_m = height_cm / 100
print(height_m)

[1.752 1.803 1.75  1.692 1.852 1.88  1.776 1.782 1.77  1.79 ]

In [7]:
BMI = weight_kg / (height_m*height_m)
BMI

array([21.37153104, 27.07018468, 25.86122449, 24.20652885, 16.03543423,
       20.14486193, 23.14392095, 21.69720651, 23.62028791, 25.59220998])

In [8]:
data = np.loadtxt("ratings.txt",delimiter="::", dtype='int')
data

array([[        1,      1193,         5, 978300760],
       [        1,       661,         3, 978302109],
       [        1,       914,         3, 978301968],
       ...,
       [     6040,       562,         5, 956704746],
       [     6040,      1096,         4, 956715648],
       [     6040,      1097,         4, 956715569]])

In [13]:
# data의 크기(모양새), 차원, 원소 개수를 확인해봅시다
print(data.shape)
print(data.ndim)
print(data.size)

(1000209, 4)
2
4000836

In [42]:
# 1번 유저의 전체 정보 출력
print(data[data[:,0] <= 1])

[[        1      1193         5 978300760]
 [        1       661         3 978302109]
 [        1       914         3 978301968]
 [        1      3408         4 978300275]
 [        1      2355         5 978824291]
 [        1      1197         3 978302268]
 [        1      1287         5 978302039]
 [        1      2804         5 978300719]
 [        1       594         4 978302268]
 [        1       919         4 978301368]
 [        1       595         5 978824268]
 [        1       938         4 978301752]
 [        1      2398         4 978302281]
 [        1      2918         4 978302124]
 [        1      1035         5 978301753]
 [        1      2791         4 978302188]
 [        1      2687         3 978824268]
 [        1      2018         4 978301777]
 [        1      3105         5 978301713]
 [        1      2797         4 978302039]
 [        1      2321         3 978302205]
 [        1       720         3 978300760]
 [        1      1270         5 978300055]
 [        1       527         5 978824195]
 [        1      2340         3 978300103]
 [        1        48         5 978824351]
 [        1      1097         4 978301953]
 [        1      1721         4 978300055]
 [        1      1545         4 978824139]
 [        1       745         3 978824268]
 [        1      2294         4 978824291]
 [        1      3186         4 978300019]
 [        1      1566         4 978824330]
 [        1       588         4 978824268]
 [        1      1907         4 978824330]
 [        1       783         4 978824291]
 [        1      1836         5 978300172]
 [        1      1022         5 978300055]
 [        1      2762         4 978302091]
 [        1       150         5 978301777]
 [        1         1         5 978824268]
 [        1      1961         5 978301590]
 [        1      1962         4 978301753]
 [        1      2692         4 978301570]
 [        1       260         4 978300760]
 [        1      1028         5 978301777]
 [        1      1029         5 978302205]
 [        1      1207         4 978300719]
 [        1      2028         5 978301619]
 [        1       531         4 978302149]
 [        1      3114         4 978302174]
 [        1       608         4 978301398]
 [        1      1246         4 978302091]]

In [44]:
# 아이디 정보만 가져오기
user_id = data[:,0]
user_id

array([   1,    1,    1, ..., 6040, 6040, 6040])

#### 전체 사용자 평점 평균구하기

In [48]:
#전체 자료에서 평점 가져오기
ratings = data[:,2]
#평점의 평균 구하기
print(np.mean(ratings))

3.581564453029317

#### 1번 사용자의 평점 평균 구하기
- 1. id정보 가져오기
- 2. 인덱싱한 자료에서 평점만 가져오기
- 3. 가져온 평점 평균 구하기

In [57]:
user_id = data[data[:,0] == 1]
user_id_rating = user_id[:,2]
print(np.mean(user_id_rating))

4.188679245283019